<a href="https://colab.research.google.com/github/bhaveleena3/Python/blob/main/Naive_Bayes_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **classification model using Naive Bayes for salary data **

In [29]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from wordcloud import WordCloud, STOPWORDS
import seaborn as sns
import matplotlib.pyplot as plt
import re # Regular Expression
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [30]:
df = pd.read_csv('/content/SalaryData_Train.csv',encoding='latin')

In [31]:
df

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
df.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [33]:
df.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [34]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() #encoding colum
df['workclass']= label_encoder.fit_transform(df['workclass'])
df['education']= label_encoder.fit_transform(df['education'])
df['maritalstatus']= label_encoder.fit_transform(df['maritalstatus'])
df['occupation']= label_encoder.fit_transform(df['occupation'])
df['relationship']= label_encoder.fit_transform(df['relationship'])
df['race']= label_encoder.fit_transform(df['race'])
df['sex']= label_encoder.fit_transform(df['sex'])
df['native']= label_encoder.fit_transform(df['native'])
df['Salary']= label_encoder.fit_transform(df['Salary'])

In [35]:
df['Salary'].value_counts

<bound method IndexOpsMixin.value_counts of 0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: Salary, Length: 30161, dtype: int64>

In [36]:
df.info

<bound method DataFrame.info of        age  workclass  education  educationno  maritalstatus  occupation  \
0       39          5          9           13              4           0
1       50          4          9           13              2           3
2       38          2         11            9              0           5
3       53          2          1            7              2           5
4       28          2          9           13              2           9
...    ...        ...        ...          ...            ...         ...
30156   27          2          7           12              2          12
30157   40          2         11            9              2           6
30158   58          2         11            9              6           0
30159   22          2         11            9              4           0
30160   52          3         11            9              2           3

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  \
0                 1     4    1         2174            0            40
1                 0     4    1            0            0            13
2                 1     4    1            0            0            40
3                 0     2    1            0            0            40
4                 5     2    0            0            0            40
...             ...   ...  ...          ...          ...           ...
30156             5     4    0            0            0            38
30157             0     4    1            0            0            40
30158             4     4    0            0            0            40
30159             3     4    1            0            0            20
30160             5     4    0        15024            0            40

       native  Salary
0          37       0
1          37       0
2          37       0
3          37       0
4           4       0
...       ...     ...
30156      37       0
30157      37       1
30158      37       0
30159      37       0
30160      37       1

[30161 rows x 14 columns]>

In [54]:
x = df.drop(['Salary'], axis=1)
y = df['Salary']

In [55]:
print(x)

       age  workclass  education  educationno  maritalstatus  occupation  \
0       39          5          9           13              4           0
1       50          4          9           13              2           3
2       38          2         11            9              0           5
3       53          2          1            7              2           5
4       28          2          9           13              2           9
...    ...        ...        ...          ...            ...         ...
30156   27          2          7           12              2          12
30157   40          2         11            9              2           6
30158   58          2         11            9              6           0
30159   22          2         11            9              4           0
30160   52          3         11            9              2           3

       relationship  race  sex  capitalgain  capitalloss  hoursperweek  native
0                 1     4    1         2174            0            40      37
1                 0     4    1            0            0            13      37
2                 1     4    1            0            0            40      37
3                 0     2    1            0            0            40      37
4                 5     2    0            0            0            40       4
...             ...   ...  ...          ...          ...           ...     ...
30156             5     4    0            0            0            38      37
30157             0     4    1            0            0            40      37
30158             4     4    0            0            0            40      37
30159             3     4    1            0            0            20      37
30160             5     4    0        15024            0            40      37

[30161 rows x 13 columns]

In [56]:
y

0        0
1        0
2        0
3        0
4        0
        ..
30156    0
30157    1
30158    0
30159    0
30160    1
Name: Salary, Length: 30161, dtype: int64

In [57]:
x.shape

(30161, 13)

In [58]:
y.shape

(30161,)

In [60]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3,random_state=1)

In [62]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
nb = MultinomialNB()
nb.fit(xtrain,ytrain)
ypred = nb.predict(xtest)
print(classification_report(ytest,ypred))
print(nb.score(xtrain,ytrain)) # Train accuracy
print(nb.score(xtest,ytest)) # Test accuracy

              precision    recall  f1-score   support

           0       0.78      0.96      0.86      6754
           1       0.63      0.21      0.32      2295

    accuracy                           0.77      9049
   macro avg       0.71      0.59      0.59      9049
weighted avg       0.74      0.77      0.72      9049

0.7745358090185677
0.7691457619626478

In [ ]:
# here naive bayes is giving 77% training and 76 % test accuracy. so its a generalized model